@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;



#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.active {
  background-color: rgb(239 68 68);
}

a.active:hover {
  color: rgb(255, 255, 255);
}
